

@{
    ViewData["Title"] = "Home Page";
}

@{
    foreach (ApplicationUser applicationUser in Model)
    {
        <ul>
            <li>
                @applicationUser.Login
            </li>
            <li>
                @applicationUser.Name
            </li>
        </ul>
    }
}
